.hero {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 0 3.125rem 0 8rem;
  margin: 3rem 0 8rem 0;
}

.hero-content {
  max-width: 37.5rem;
  margin-top: 8rem;
}

.hero-content .primary-text {
  font-size: 4rem;
  color: var(--black);
  line-height: 120%;
}

.hero-content .primary-text span {
  color: var(--primary);
}

.hero-content .secondary-text {
  margin: 2.5rem 0;
  color: var(--gray);
  font-size: 1.125rem;
}

.hero .line {
  position: absolute;
  top: 35rem;
  left: -1.5rem;
  z-index: -2;
}

.hero-image {
  height: 53.125rem;
  width: 45rem;

  background-image: url(../assets/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  border-radius: 0.625rem 0.625rem 0.625rem 18.75rem;
  z-index: -1;
}

.hero .buttons {
  display: flex;
  gap: 1.5rem;
}

.hero .buttons a {
  padding: 1.3rem 5rem;
  border-radius: 2.5rem 0.31rem 2.5rem 0.31rem;
  font-size: 1.125rem;
  font-weight: 500;
}

.hero .buttons .explore {
  box-shadow: 4px 12px 60px 0px rgba(64, 161, 213, 0.75);
  background-color: var(--primary);
  color: white;
  padding: 1.3rem 4rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    filter: brightness(1.1);
  }
}

.hero .buttons .contato {
  border: solid 1px;
  color: var(--primary);
  transition: all 0.2s ease-in-out;

  &:hover {
    filter: brightness(0.8);
  }
}

.hero .stats {
  display: flex;
  gap: 2rem;
  margin-top: 5.625rem;
}

.hero .stats .stat-card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.stat-card .stat-number,
.stat-card span {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--black);
}

.stat-card .stat-description {
  font-size: 1.25rem;
  color: var(--gray);
}

.stat-card::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -0.625rem;
  height: 1.25rem;
  width: 2.25rem;
  background-color: var(--orange);
  border-radius: 20px 20px 0px 0px;
  z-index: -1;

  transform: rotate(-45deg);
}

.stat-card:nth-child(1) + .stat-card::before {
  background-color: var(--primary);
}

.stat-card:nth-child(2) + .stat-card::before {
  background-color: var(--green);
}
