.navigation {
  position: absolute;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0 8rem 0 8rem;
  margin-top: 3rem;
}

.navigation .logo {
  height: 6rem;
}

.navigation .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.navigation .links a {
  font-size: 1.125rem;
  font-weight: 400;
  color: white;

  border-bottom: solid 1px transparent;
  transition: all 0.2s ease-in-out;

  &:hover {
    font-weight: 500;
    border-bottom-width: 1px;
    border-radius: 2px;
    border-color: white;
  }
}
